.users-banner {
    background: url(@/static/img/members.jpg) right;
    background-size: cover;
}

.user-list {
    row-gap: 30px;
}

.user-card {
    border: 1px solid #eee;
    border-left: 2px solid #f7631b;
}

.user-img {
    width: 100%;
}

.user-about {
    height: 150px;
    word-wrap: break-word;
    overflow: auto;
}

.user-card-header {
    background: #f7631b;
}

.user-link {
    text-align: center;
    color: white;
}

.search-input {
    border: 1px solid black;
    padding: 5px;
}

.search-input:focus {
    border: 1px solid #f7631b;
    outline: none;
}

.search-button {
    border: 1px solid black;
    padding: 5px 15px;
    background: #f7631b;
    cursor: pointer;
}

.search-button:hover {
    background: #ff8143;
}

.arrow-orange {
    color: #fff;
}


/* USER-DETAIL */

.user-profile-area {
    column-gap: 10px;
}

.user-card-detail {
    border: 1px solid #eee;
}

.user-detail-img {
    border-radius: 50%;
    border: 1px solid #eee;
    width: 200px;
    margin: 0 auto;
}

.username-text {
    display: block;
    font-size: 24px;
    color: black;
    text-align: center;
}

.user-additional-info {
    border: 1px solid #eee;
    padding: 10px;
}

.info-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    max-height: 200px;
    word-wrap: break-word;
    overflow: auto;
}